// Color variables
$primary-color: #4CAF50;
$secondary-color: #193d1a;
$background-color: #ecf0f1;
$text-color: #2c3e50;
$border-color: #bdc3c7;

// Font variables
$font-title: "Sour Gummy", serif;


