.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 40px;


  background-image: url('../img/bg-main.jpg');
  background-position: center;
  background-size: cover;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    gap: 20px;
    margin-left: 200px;

    h1 {
      font-family: "Sour Gummy", serif;
      font-size: 54px;
      line-height: 1.1;
      color: #4CAF50;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      color: #193d1a;
    }

    .btn-primary {
      padding: 12px 24px;
      border-radius: 10px;
      background-color: #4CAF50;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition: .3s ease;

      &:hover {
        background-color: #ffffff;
        color: #4CAF50;
      }
    }
  }
}

@media (max-width: 1324px) {
  .hero {
    padding: 60px 30px;

    .hero-content {
     max-width: 48%;
      margin-left: 60px;
    }
  }
}


/* TABLET */
@media (max-width: 1024px) {
  .hero {
    padding: 60px 30px;

    .hero-content {
      max-width: 90%;
      margin-left: 0px;
    }
  }
}

/* MOBILE */
@media (max-width: 650px) {
  .hero {
    min-height: 90vh;

    background-image: url('../img/bg-mobile.png');
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;

    .hero-content {
      width: 100%;
      align-items: center;
      text-align: center;
      gap: 18px;
      margin-top: 40px;

      h1 {
        font-size: 28px;
      }

      p {
        font-size: 15px;
        width: 90%;
      }

      .btn-primary {
        font-size: 16px;
        padding: 12px 24px;
      }
    }
  }
}
