
.services {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     padding: 50px;
     width: 100%;
     height: 700px;
     gap: 40px;

     .services-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;

          h4 {
               color: #193d1a;
               font-size: 22px;
               font-family: "Poppins", serif;
               font-weight: 500;
          }

          h2 {
               color: #4CAF50;
               font-size: 28px;
               font-family: "Sour Gummy", serif;
               max-width: 70%;
               text-align: center;
          }
     }

     .container-services {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 30px;

          .box-service {
               display: flex;
               flex-direction: column;
               align-items: center;
               text-align: center;
               gap: 10px;
               padding: 20px;
               border-radius: 8px;
               background-color: #ecf0f1;
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
               transition: all 0.3s ease;
               width: 300px;
               height: 350px;

               &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
               }

               .icon {
                    color: #193d1a;
                    font-size: 32px;
               }

               h3 {
                    color: #4CAF50;
                    font-size: 24px;
                    font-family: "Sour Gummy", serif;
               }

               p {
                    color: #193d1a;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
               }
          }

          .box-service.ativo {
               background-color: #4CAF50;
               color: #fff;
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

               .icon {
                    color: #fff;
               }

               h3 {
                    color: #fff;
               }

               p {
                    color: #fff;
               }
          }
     }

     .btn-primary {
          padding: 10px 20px;
          border: none;
          background-color: #4CAF50;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
          text-decoration: none;
          font-family: "Sour Gummy", serif;
          border-radius: 8px;
          transition: all 0.3s ease; 

          &:hover {
               background-color: #fcfffc;
               color: #4CAF50;
               padding-right: 40px;
          }
     }
}

@media (max-width: 1024px) {
     .services {
         height: auto;
         padding: 40px;
         
         .services-text {
             h2 {
                 font-size: 24px;
                 max-width: 80%;
             }
         }
 
         .container-services {
             flex-direction: column;
             gap: 20px;
 
             .box-service {
                 width: 90%;
                 height: auto;
                 padding: 15px;
             }
         }
     }
 }
 
 @media (max-width: 768px) {
     .services {
         padding: 30px;
 
         .services-text {
             h2 {
                 font-size: 22px;
                 max-width: 90%;
             }
         }
 
         .container-services {
             flex-direction: column;
             gap: 15px;
 
             .box-service {
                 width: 100%;
                 max-width: 350px;
                 height: auto;
                 padding: 15px;
             }
         }
 
         .btn-primary {
             font-size: 18px;
             padding: 8px 16px;
         }
     }
 }
 
 @media (max-width: 480px) {
     .services {
         padding: 20px;
 
         .services-text {
             h2 {
                 font-size: 20px;
                 max-width: 95%;
             }
         }
 
         .container-services {
             gap: 10px;
 
             .box-service {
                 width: 100%;
                 max-width: 320px;
                 height: auto;
                 padding: 10px;
             }
         }
 
         .btn-primary {
             font-size: 16px;
             padding: 6px 12px;
         }
     }
 }
 